body {
  background: #f9f9f9;
  .page-wrapper {
    padding-top: 20px;
  }
  .empty-text {
    padding-top: 160px;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    color: #a9a9a9;
  }
  .graph-container {
    background: white;
    padding: 20px;
    text-align: center;
  }
}

.axis text {
  font: 10px sans-serif;
}
.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis--x path {
  display: none;
}
.path-line {
  fill: none;
  stroke: yellow;
  stroke-width: 1.5px;
}
svg {
  background: #f0f0f0;
}